
.product{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.product-name{
    color: blue;
}
.product-info{
    margin-left: 20px;
}
.purchase-btn{
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 150px;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 6px;
    vertical-align: middle;
    font-weight: 800;
}
.icon-color{
    color: gold;
}
